* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.logo {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 400px;
  align-items: center;
  padding: 2rem;
}
body header section.logo a.active {
  text-decoration: none;
  color: azure;
}
body header section.logo h1 {
  font-size: 2rem;
  padding: 2.2rem;
  color: azure;
}
body header section.logo img {
  width: 4.2vw;
  height: 4.2vw;
}
body header nav {
  flex: 8 1 600px;
  margin-right: 2.5rem;
}
body header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
body header nav li a {
  color: azure;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.25s ease-in;
}
body header nav li a:hover {
  color: rgb(192, 192, 192);
  border-bottom: 2.5px f rgb(192, 192, 192);
}
body main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(19, 19, 19);
  /*----------------------------------------------*/
}
body main section#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body main section#main div#row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body main section#main div#row1 div.table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  margin: 5rem;
  border: 5.5px solid azure;
  border-radius: 10px;
  overflow: hidden;
}
body main section#main div#row1 div.table:hover {
  box-shadow: rgba(251, 249, 249, 0.2) 0 0 40px 5px, white 0 0 0 5px, rgba(235, 231, 231, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}
body main section#main div#row1 div {
  display: flex;
  justify-content: center;
}
body main section#main div#row1 img {
  width: 18vw;
  height: 18vw;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid azure;
}
body main section#main div#row1 a {
  text-decoration: none;
}
body main section#main div#row1 ul {
  position: relative;
  bottom: 0.6rem;
}
body main section#main div#row1 ul li {
  list-style-type: none;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 0.4rem;
}
body main section#main div#row1 p {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
body footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: rgb(254, 253, 253);
  background-color: rgb(58, 58, 58);
  z-index: 0;
  position: relative;
}
body footer img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1.2rem;
  position: absolute;
  z-index: -1;
}
body footer section.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer section.footer-logo h3 {
  font-size: 2.5rem;
}
body footer div.link {
  margin-top: 1.4rem;
}
body footer div.link a i {
  margin: 0rem 1rem;
}
body footer div.footer-info {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
body footer div.footer-info p {
  margin: 0.3rem;
  font-size: 0.9rem;
}
body footer div.arrowup {
  position: absolute;
  right: 2vw;
  bottom: 1.5vw;
}/*# sourceMappingURL=course.css.map */