$themeColor: rgba(34, 34, 34, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {

  #googlemap-div {


    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    #googlemap {
      position: fixed;
      top: 25%;
      left: 25%;
      color: rgb(248, 250, 250);
      // position: absolute;

      height: 50vh;
      width: 40vw;

    }




  }

  header {
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-wrap: wrap;
    align-items: center;



    section.logo {
      // border: 5px solid green;
      display: flex;
      flex-wrap: wrap;
      flex: 2 1 400px;
      align-items: center;
      padding: 2rem;

      a.active {
        text-decoration: none;
        color: azure;
      }

      h1 {
        font-size: 2rem;
        padding: 2.2rem;
        color: azure;
      }

      img {
        width: 4.2vw;
        height: 4.2vw;
      }
    }

    nav {
      flex: 8 1 600px;
      // border: 2px solid red;
      margin-right: 2.5rem;

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-evenly;
        // padding: 1.2rem;
      }

      li {
        a {
          color: azure;
          text-decoration: none;
          font-size: 1.2rem;
          transition: all 0.25s ease-in;

          &:hover {
            color: rgb(192, 192, 192);
            border-bottom: 2.5px f rgb(192, 192, 192);
          }
        }
      }
    }
  }

  main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(19, 19, 19);

    section#main {
      // border: 5px solid red;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 3rem;

      p#button1 {
        cursor: pointer;
      }

      div.row1 {
        color: azure;
        // border: 4px solid green;
        margin: 1.2rem;
        padding: 1rem;
        margin: 1.2rem;

        img {
          border: 1.5px solid azure;
          border-radius: 10px;
          overflow: hidden;

          width: 45vw;
          height: 54vh;

          box-shadow: rgba(rgb(251, 249, 249), 0.2) 0 0 40px 5px,
            // rgba(white, 1) 0 0 0 5px,
            // rgba(rgb(235, 231, 231), 0.66) 0 30px 60px 0,
            inset #f3f2f2 0 0 0 5px,
            inset white 0 0 0 6px;
        }
      }

      div.info {

        // border:2px solid greenyellow;

        color: azure;
        margin: 0.5rem;
        font-size: 1.2rem;

        position: relative;
        left: 1.5vw;

        li.text {
          margin: 0.6rem;
        }

      }
    }





  }
}

div#map_link {
  color: azure;
  margin-top: 1.2rem;
  margin-left: 2re;
  // border: 0.6px solid azure;
  border-bottom-style: double;

  &:hover {

    color: rgb(179, 179, 179);
    transform: scale(1.3);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    // box-shadow: 0 1px 1px 1px rgb(255, 255, 255);

  }

  // &active {
  //   transform: translateY(-2px);
  // }
}


footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: rgb(254, 253, 253);
  background-color: rgb(58, 58, 58);
  z-index: 0;
  position: relative;

  img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1.2rem;
    position: absolute;
    z-index: -1;
  }

  section.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 2.5rem;
    }
  }

  div.link {
    margin-top: 1.4rem;

    a {
      i {
        margin: 0rem 1rem;

        &:hover {
          // border: 0.5px solid rgb(214, 214, 214);
          transform: scale(1.3);
          transition: transform 0.2s ease-in;
        }
      }
    }
  }

  div.footer-info {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0.3rem;
      font-size: 0.9rem;
    }
  }

  div.arrowup {

    position: absolute;
    right: 2vw;
    bottom: 1.5vw;
  }
}